---
import MailchimpSignup from './MailchimpSignup.astro';

interface Props {
  size?: 'small' | 'medium' | 'large';
}

const { size = 'small' } = Astro.props;
---

<div class="newsletter-signup">
  <MailchimpSignup size={size} showLabels={false} background="dark" />
</div>

